# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.UNO_margin.iml
# Datasource local storage ignored files
/../../../../../../:\GithubST\UNO_margin\.idea\.idea.UNO_margin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
